/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.box {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.box-item {
    border-bottom: 1px solid #ddd;
}

.box-header {
    padding: 15px;
    background-color: #71a0d2;
    color: #fff;
    cursor: pointer;
    /* user-select: none; */
    transition: background-color 0.3s ease;
}

.box-header:hover {
    background-color: #7d848b;
}

.box-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    background-color: #f9f9f9;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.box-content p {
    margin: 15px 0;
}

.box-content.show {
    max-height: 200px; /* Adjust based on content size */
    padding: 15px;
}
